data/raw/*.csv
data/raw/*.txt
docker/.env
docker/logs/
docker/plugins/
docker/Dockerfile
.myenv/
env/
jars/

__pycache__/
*.py[cod]
*$py.class
*.so
build/
dist/
*.egg-info/
.pytest_cache/
.ipynb_checkpoints/